<a href="https://colab.research.google.com/github/garciawitulski/Econometria/blob/main/Vi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [52]:
import numpy as np
import pandas as pd

# install the package
!pip install econtools
import econtools.metrics as mt

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: econtools in /usr/local/lib/python3.7/dist-packages (0.3.2)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from econtools) (1.7.3)
Requirement already satisfied: pandas>=0.16.0 in /usr/local/lib/python3.7/dist-packages (from econtools) (1.3.5)
Requirement already satisfied: numpy>=1.9.2 in /usr/local/lib/python3.7/dist-packages (from econtools) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.16.0->econtools) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.16.0->econtools) (2022.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.16.0->econtools) (1.15.0)

In [53]:
url = 'https://raw.githubusercontent.com/garciawitulski/Econometria/main/CigarettesSW'

df = pd.read_csv(url)

In [54]:
df.head(10)

,Unnamed: 0,state,year,cpi,population,packs,income,tax,price,taxs
0,1,AL,1985,1.076,3973000.0,116.486282,46014968,32.500004,102.181671,33.348335
1,2,AR,1985,1.076,2327000.0,128.534592,26210736,37.000000,101.474998,37.000000
2,3,AZ,1985,1.076,3184000.0,104.522614,43956936,31.000000,108.578751,36.170418
3,4,CA,1985,1.076,26444000.0,100.363037,447102816,26.000000,107.837341,32.104000
4,5,CO,1985,1.076,3209000.0,112.963539,49466672,31.000000,94.266663,31.000000
5,6,CT,1985,1.076,3201000.0,109.278351,60063368,42.000000,128.024994,51.483334
6,7,DE,1985,1.076,618000.0,143.851135,9927301,30.000000,102.491661,30.000000
7,8,FL,1985,1.076,11352000.0,122.181122,166919248,37.000000,115.290001,42.490002
8,9,GA,1985,1.076,5963000.0,127.234619,78364336,28.000000,97.025169,28.841833
9,10,IA,1985,1.076,2830000.0,113.745583,37902896,34.000000,101.842003,37.917000

In [73]:
df['rprice'] = df['price'] / df['cpi']
df['lnpacks'] = np.log(df['packs'])
df['lnrprice'] = np.log(df['rprice'])

df['salestax'] = (df['taxs'] - df['tax']) / df['cpi']

In [74]:
c1995 = df[(df.year == 1995)]

c1995.head(10)

,Unnamed: 0,state,year,cpi,population,packs,income,tax,price,taxs,rprice,salestax,lnrprice,lnpacks
48,49,AL,1995,1.524,4262731.0,101.085434,83903280,40.500004,158.371338,41.904671,103.918206,0.921697,4.643604,4.615966
49,50,AR,1995,1.524,2480121.0,111.042969,45995496,55.500000,175.542511,63.859169,115.185380,5.485019,4.746543,4.709917
50,51,AZ,1995,1.524,4306908.0,71.954170,88870496,65.333328,198.607498,74.790825,130.319887,6.205707,4.869992,4.276029
51,52,CA,1995,1.524,31493524.0,56.859306,771470144,61.000000,210.504669,74.771332,138.126430,9.036307,4.928169,4.040580
52,53,CO,1995,1.524,3738061.0,82.582924,92946544,44.000000,167.350006,44.000000,109.809720,0.000000,4.698749,4.413803
53,54,CT,1995,1.524,3265293.0,79.472191,104315120,74.000000,218.280502,86.355499,143.228683,8.107283,4.964443,4.375407
54,55,DE,1995,1.524,718265.0,124.466599,18237436,48.000000,165.600006,48.000000,108.661426,0.000000,4.688237,4.824037
55,56,FL,1995,1.524,14185403.0,93.074554,333525344,57.900002,187.717178,68.525505,123.174007,6.972116,4.813598,4.533401
56,57,GA,1995,1.524,7188538.0,97.474625,159800448,36.000000,156.573074,37.431416,102.738243,0.939249,4.632184,4.579592
57,58,IA,1995,1.524,2840860.0,92.401596,60170928,60.000000,190.889999,69.089996,125.255911,5.964565,4.830359,4.526144

In [81]:
cig_s0 = mt.reg(df, 'lnpacks', ['lnrprice'], robust=True)
cig_s0

TypeError: ignored